<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-md fixed-top p-0">
    <div id="navbarContainer" class="container-fluid">
      <a id="navbarBrand" href="/">Logo</a>
      <button id="navbarTogglerButton" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Navigation">
        <i id="navbarTogglerIcon" class="fa-solid fa-bars"></i>
      </button>
      <div id="navbarToggler" class="collapse navbar-collapse ms-md-5">
        <ul class="navbar-nav gap-1 mt-3 mt-md-0 mb-3 mb-md-0 me-auto">
          <li class="nav-item nav-active px-2 py-md-3">
            <a href="/projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item px-2 py-md-3">
            <a href="/" class="nav-link">About</a>
          </li>
        </ul>
        <div class="d-flex mb-1 mb-md-0">
          <a id="outlineButtonDark" href="/contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <section class="d-flex flex-column gap-3">
    <div id="biodataCard" class="card rounded-4 shadow">
      <div id="biodataCardBody" class="card-body">
        <div class="row d-flex flex-column flex-lg-row gap-5 justify-content-center align-items-center">
          <div class="col-auto d-none d-xl-flex flex-column align-items-center">
            <img id="contactFormImage" src="images/illustration_projects.png" alt="Illustration Message">
            <a href="https://storyset.com/technology" class="link-dark text-decoration-none">Technology illustrations by Storyset</a>
          </div>
          <div class="col d-flex flex-column gap-3">
            <div class="d-flex w-100 justify-content-center">
              <h5 class="card-title m-0">{{formHeadline}}</h5>
            </div>
            <form id="addProjectForm" action="/add-project" method="post">
              <fieldset form="addProjectForm" class="d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-1">
                  <label for="projectNameTextInput">Project Name</label>
                  <input id="projectNameTextInput" type="text" class="form-control" placeholder="What's your new project name?" name="name" aria-label="Project Name" required>
                </div>
                <div class="col row-sm d-flex flex-column flex-sm-row gap-4 gap-sm-3">
                  <div class="col-sm d-flex flex-column gap-1">
                    <label for="projectStartDate">Start Date</label>
                    <input id="projectStartDate" type="date" class="form-control" name="startDate" aria-label="Project Start Date" required>
                  </div>
                  <div class="col-sm d-flex flex-column gap-1">
                    <label for="projectEndDate">End Date</label>
                    <input id="projectEndDate" type="date" class="form-control" name="endDate" aria-label="Project End Date" required>
                  </div>
                </div>
                <div class="d-flex flex-column gap-1">
                  <label for="projectDescriptionTextInput">Description</label>
                  <textarea id="projectDescriptionTextInput" class="form-control" placeholder="Write your project description here..." name="description" aria-label="Project Description" required></textarea>
                </div>
                <div class="d-flex flex-column gap-1">
                  <label>Techonlogies</label>
                  <div class="row">
                    <div class="col d-flex flex-column gap-1">
                      <div class="form-check">
                        <label for="checkNodeJs" class="form-check-label">Node JS</label>
                        <input id="checkNodeJs" type="checkbox" name="technologies" value="Node JS" class="form-check-input" aria-label="Node JS">
                      </div>
                      <div class="form-check">
                        <label for="checkLaravel" class="form-check-label">Laravel</label>
                        <input id="checkLaravel" type="checkbox" name="technologies" value="Laravel" class="form-check-input" aria-label="Laravel">
                      </div>
                      <div class="form-check">
                        <label for="checkDjango" class="form-check-label">Django</label>
                        <input id="checkDjango" type="checkbox" name="technologies" value="Django" class="form-check-input" aria-label="Django">
                      </div>
                    </div>
                    <div class="col d-flex flex-column gap-1">
                      <div class="form-check">
                        <label for="checkReactJs" class="form-check-label">React JS</label>
                        <input id="checkReactJs" type="checkbox" name="technologies" value="React JS" class="form-check-input" aria-label="React JS">
                      </div>
                      <div class="form-check">
                        <label for="checkVueJS" class="form-check-label">Vue JS</label>
                        <input id="checkVueJS" type="checkbox" name="technologies" value="Vue JS" class="form-check-input" aria-label="Vue JS">
                      </div>
                      <div class="form-check">
                        <label for="checkAngularJS" class="form-check-label">Angular JS</label>
                        <input id="checkAngularJS" type="checkbox" name="technologies" value="Angular JS" class="form-check-input" aria-label="Angular JS">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column gap-1">
                  <label for="projectImageFileInput">Project Image</label>
                  <input id="projectImageFileInput" type="file" accept="image/jpg, image/png, image/jpeg" class="form-control" name="imagePath" aria-label="Project Image" required>
                </div>
                <div class="d-grid">
                  <button id="submitProjectButton" type="submit" class="btn btn-primary fw-semibold mb-2">Submit</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="projectCatalogContainer" class="container-fluid d-flex flex-column align-items-center gap-5 py-5">
      <h5 class="card-title mt-2">{{catalogHeadline}}</h5>
      <div id="projectCardContainer" class="row gx-5 gy-5">
        {{#each projects}}
          <div class="col-12 col-md-6 col-lg-4 text-decoration-none">
            <div id="projectCard" class="card shadow">
              <a href="/detail-project/{{this.id}}">
                <img src="{{this.image_path}}" class="card-img-top p-2 rounded-4" alt="{{this.name}} image">
              </a>
              <div class="card-body d-flex flex-column gap-3">
                <div class="d-flex flex-column gap-2">
                  <div class="d-flex flex-column">
                    <a href="/detail-project/{{this.id}}" class="card-title m-0">{{this.name}}</a>
                    <span>{{this.year}}</span>
                  </div>
                  <span>Duration: {{this.duration_day}} day(s)</span>
                </div>
                <p class="card-text">{{this.description}}</p>
                <div class="d-flex flex-column">
                  <span>Technologies:</span>
                  <p>{{this.technologies}}</p>
                </div>
                <div class="row d-flex p-0">
                  <div class="col d-grid">
                    <a href="#" class="btn btn-primary fw-medium">Edit</a>
                  </div>
                  <div class="col-auto d-grid">
                    <a href="#" class="btn btn-danger fw-medium">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
  <footer>
    <div id="footerContainer" class="container-fluid d-flex justify-content-center">
      <p>Muhammad Rayhan Permana - 2025</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>